.container {
	width: 99vw;
	height: 96vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
.board {
	width: 600px;
	height: 600px;
	background: lightgray;
	border-radius: 16px;
	box-shadow: 2px 0px 5px 1px rgb(0 0 0 / 54%);
	display: grid;
	grid-template-columns: repeat(3, 200px);
	justify-items: center;
	align-items: center;
}
h1 {
	font-size: 2.8rem;
	font-family: cursive;
	color: #e72300;
	text-shadow: 1px 0px 4px #000000d4;
}

.winner-section {
	margin: auto;
	margin-top: 30px;
}

.section{
	width: 600px;
	margin-top: 100px;
	margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.btn{
	width: 80px;
    height: 40px;
    border: none;
    background: rgb(244, 49, 14);
    border-radius: 10px;
    font-size: 1.5rem;
    color: white;
	box-shadow: 2px 0px 5px 1px rgb(0 0 0 / 54%)
}

@media (max-width: 480px) {
	.container {
		width: auto;
		height: auto;
	}
	.board {
		width: 300px;
		height: 300px;
		display: grid;
		grid-template-columns: repeat(3, 100px);
	}
	.section{
		width: 400px;
	}
}
